body {
    margin: 0;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*, *:after, *:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-content: center;
    align-items: center;
}

.color  {
    width: 80%;
    height: 80px;
    margin:10px auto;
}

.color h2{
    font-size: 28pt;
    font-family: 'Ubuntu', Sans-Serif, serif;
    margin:10px auto;
    text-align: center;
}

.content {
    margin: 0 auto;
    max-width: 90%;
    display: flex;
}

.poster {
    width: 40%;
    display: flex;
}

.poster img{
    width: 100%;
    border-radius: 10px;
    max-width: 400px;
}

.text {
    max-width: 40%;
    margin: 20px 30px;
}

.text p {
    font-size: 18px;
}

.text div{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: chocolate;

    font-size: 18px;
}

.text div h3{
    position: relative;
    left: 25%;
    top: 15%;
}

@media screen and (max-width: 800px) {
    .container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    .content {
        display: block;
    }

    .poster {
        width: 100%;
    }

    .text {
        max-width: 100%;
        margin: 20px 30px;
    }

    .text p {
        font-size: 18px;
    }


}
